.itinerary {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    max-width: 1280px;
    padding: 5rem;
    margin: 0 auto;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;    
}
.itinerary_hawaii {
    background-image: url('../assets/images/hawaii.jpg');
}
.itinerary_iceland {
    background-image: url('../assets/images/iceland.jpg');
}
.itinerary_greece {
    background-image: url('../assets/images/greece.jpg');
}
.itinerary_title {
    margin: 3rem 0;
    color: #FFFFFF;
}
.itinerary_cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1rem 0 5rem 0;
}
.itinerary_card {
    background-color: #FFFFFF;
    width: 22%;
    height: 21rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem;
}
.itinerary_subtitle {
    border-bottom: 0.2rem solid black;
    width: 90%;
    padding-top: 0.8rem;
    margin: 0;
    font-size: 1.1rem;
}
.itinerary_items {
    width: 90%;
    margin: 0.5rem 0;
}
.itinerary_item {
    background-color: #FEFAF5;
    margin: 0.7rem 0;
    padding: 1rem 3.3rem;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Tablet Design */
@media screen and (min-width: 768px) and (max-width:1279) {
    .itinerary_cards {
        width: 100%;
        margin: 1rem;
    }
    .itinerary_item {
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 1rem auto;
    }
}


/* Mobile Design */
@media screen and (min-width:0px) and (max-width:768px) {
    .itinerary_title {
        font-size: 3.5rem;
        margin: 1rem;
    }
    .itinerary_cards {
        flex-direction: column;
    }
    .itinerary_card {
        width: 100%;
        margin: 1rem;
    }
    .itinerary_item {
        padding: 1rem 3rem;
    }
}