* {
    box-sizing: border-box;
}
html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul {
    list-style-type: none;
    padding: 0;
}
a {
    text-decoration: none;
}
a:visited {
    color: #335576;
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 1.5rem;
}

/* Navigation Bar */
.navbar {
    background-color: #FFFFFF;
    color: #335576;
    width: 100%;
    padding: 0 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
}
.navbar_title {
    font-size: 1.5rem;
    color: #335576;
}
.navbar_menu {
    display: flex;
    flex-direction: row;
}
.navbar_item {
    padding: 1rem;
}
.navbar_item a {
    color: black;
}
.navbar_item:hover>a,
.navbar_item:active>a,
.navbar_item_active {
    border-bottom: 0.3rem solid #DB7A4E;
    padding-bottom: 0.3rem;
    list-style-type: underline;
}
.navbar_link:hover {
    color: #DB7A4E;
}

/* Footer */
footer {
    width: 100%;
    background-color: #FEFAF5;
}
.footer_container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    font-size: 0.8rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}
.footer_title {
    color: #335576;
    padding: 0.5rem 0 0 0;
    margin: 1rem 0;
}
.footer_subtitle {
    color: #DB7A4E;
    text-transform: uppercase;
    font-weight: lighter;
    padding: 1rem 1.5rem 0.5rem 0;
    font-size: 0.7rem;
}
.footer_text {
    color: #335576;
    padding: 0 2rem 0 0;
    font-size: 1rem;
}
.footer_text a {
    color: #335576;
}
.footer_mail {
    padding: 0.5rem 0;
}
.footer_days {
    padding: 0.5rem 0;
    display: flex;
    flex-direction: row;
}
.footer_links {
    padding: 0.5rem 0;
    display: flex;
    flex-direction: row;
}
.footer_icon {
    height: 40px;
    margin: 3.3rem 1.5rem 0 0;
    padding: 0.2rem;
    border-radius: 0.2rem;
}

/* Tablet Design */
@media screen and (min-width: 768px) and (max-width:1280px) {
    .navbar {
        padding: 0 4rem;
    }
}
@media screen and (min-width: 1280px) {
    .navbar {
        justify-content: center;
    }
    .navbar_title {
        padding-right: 39rem;
    }
}

/* Mobile Design */
@media screen and (min-width:0px) and (max-width:767px) {
    .navbar {
        padding: 0 1.5rem;
        flex-direction: column;
    }
    .navbar_title {
        padding: 1rem 0 0 0;
        font-size: 1rem;
    }
    .navbar_item {
        padding: 0 1rem;
    }
    .navbar_menu a {
        font-size: 0.6 rem;
    }
    .footer_container {
        flex-direction: column;
        align-items: flex-start;
    }
    .footer_days {
        flex-direction: column;
    }
    .footer.link {
        margin: 1rem 1rem 0 0;
    }
}